In [1]:
import plotly.express as px
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def extract_xlsx(xlsx_name, ws_name):
  xlsx = pd.ExcelFile(xlsx_name)
  return pd.read_excel(xlsx, ws_name)

In [3]:
xlsx_file = extract_xlsx('Data/OverdoseDeathWA.xlsx', 'By Location and Date')
xlsx_file

,Year,Time Aggregation,Location,Geography,Drug Category,Death Count,Population,Crude Death Rate,Crude Lower CI,Crude Upper CI,Adjusted Death Rate,Adjusted Lower CI,Adjusted Upper CI,Date-Time Stamp
0,2023.3,Quarterly counts,Adams County,County,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
1,2023.3,Quarterly counts,Asotin County,County,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
2,2023.3,Quarterly counts,Benton-Franklin,County,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
3,2023.3,Quarterly counts,Benton County,County,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
4,2023.3,Quarterly counts,Chelan-Douglas,County,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17383,2021.0,5 year rolling counts,Statewide,Statewide,Psychostimulants,3273,37596680.0,8.71,8.41,9.01,8.53,8.23,8.83,2023-07-25 08:33:43.039
17384,2022.0,5 year rolling counts,Statewide,Statewide,Psychostimulants,4242,37942580.0,11.18,10.85,11.52,10.94,10.6,11.28,2023-07-25 08:33:43.039
17385,2020.0,5 year rolling counts,Statewide,Statewide,Synthetic Opioids,1466,37124180.0,3.95,3.75,4.16,4.03,3.83,4.25,2023-07-25 08:33:43.039
17386,2021.0,5 year rolling counts,Statewide,Statewide,Synthetic Opioids,2589,37596680.0,6.89,6.63,7.16,7.04,6.77,7.32,2023-07-25 08:33:43.039
17387,2022.0,5 year rolling counts,Statewide,Statewide,Synthetic Opioids,4294,37942580.0,11.32,10.98,11.66,11.5,11.15,11.86,2023-07-25 08:33:43.039

In [13]:
xlsx_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17388 entries, 0 to 17387
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 17388 non-null  float64
 1   Time Aggregation     17388 non-null  object
 2   Location             17388 non-null  object
 3   Geography            17388 non-null  object
 4   Drug Category        17388 non-null  object
 5   Death Count          17388 non-null  object
 6   Population           5460 non-null   float64
 7   Crude Death Rate     5460 non-null   object
 8   Crude Lower CI       5460 non-null   object
 9   Crude Upper CI       5460 non-null   object
 10  Adjusted Death Rate  4705 non-null   object
 11  Adjusted Lower CI    4705 non-null   object
 12  Adjusted Upper CI    4705 non-null   object
 13  Date-Time Stamp      17388 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(11)
memory usage: 1.9+ MB

In [4]:
def merge_geo(shp_file_name, xlsx_file=None, csv_file_name=None):
  shp_file = gpd.read_file(shp_file_name)
  if  xlsx_file is None:
    csv_file = pd.read_csv(csv_file_name)
    csv_file = csv_file[(csv_file['State Name'] != 'Alaska') & (csv_file['State Name'] != 'Hawaii')]
    merged_data = shp_file.merge(csv_file, left_on='NAMELSAD', right_on='State Name', how='outer')
  else:
    merged_data = shp_file.merge(xlsx_file, left_on='NAMELSAD', right_on='Location')
  return merged_data

In [15]:
shape = gpd.read_file('Data/geodata/cb_2022_us_county_500k.shp')
shape

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,geometry
0,01,069,00161560,0500000US01069,01069,Houston,Houston County,AL,Alabama,06,1501742235,4795415,"POLYGON ((-85.71209 31.19727, -85.70934 31.198..."
1,01,023,00161537,0500000US01023,01023,Choctaw,Choctaw County,AL,Alabama,06,2365900083,19114321,"POLYGON ((-88.47323 31.89386, -88.46888 31.930..."
2,01,005,00161528,0500000US01005,01005,Barbour,Barbour County,AL,Alabama,06,2292160151,50523213,"POLYGON ((-85.74803 31.61918, -85.74544 31.618..."
3,01,107,00161580,0500000US01107,01107,Pickens,Pickens County,AL,Alabama,06,2282835044,22621093,"POLYGON ((-88.34043 32.99120, -88.33101 33.072..."
4,01,033,00161542,0500000US01033,01033,Colbert,Colbert County,AL,Alabama,06,1535742270,79160396,"POLYGON ((-88.13925 34.58779, -88.13872 34.589..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3230,20,197,00485059,0500000US20197,20197,Wabaunsee,Wabaunsee County,KS,Kansas,06,2057320864,13845234,"POLYGON ((-96.50168 38.91332, -96.50166 38.927..."
3231,21,211,00516952,0500000US21211,21211,Shelby,Shelby County,KY,Kentucky,06,983652108,15210913,"POLYGON ((-85.46821 38.28531, -85.46073 38.285..."
3232,27,093,00659492,0500000US27093,27093,Meeker,Meeker County,MN,Minnesota,06,1574629006,94913846,"POLYGON ((-94.76346 45.24619, -94.76334 45.275..."
3233,39,015,01074020,0500000US39015,39015,Brown,Brown County,OH,Ohio,06,1267911780,8879057,"POLYGON ((-84.05245 38.77223, -84.04800 38.806..."
3234,17,103,00424253,0500000US17103,17103,Lee,Lee County,IL,Illinois,06,1877142112,9779872,"POLYGON ((-89.63223 41.67861, -89.63219 41.686..."

In [6]:
wa_geo_data = merge_geo('Data/geodata/cb_2022_us_county_500k.shp', xlsx_file)
wa_geo_data

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,...,Drug Category,Death Count,Population,Crude Death Rate,Crude Lower CI,Crude Upper CI,Adjusted Death Rate,Adjusted Lower CI,Adjusted Upper CI,Date-Time Stamp
0,12,037,00306911,0500000US12037,12037,Franklin,Franklin County,FL,Florida,06,...,Cocaine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
1,12,037,00306911,0500000US12037,12037,Franklin,Franklin County,FL,Florida,06,...,Heroin,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
2,12,037,00306911,0500000US12037,12037,Franklin,Franklin County,FL,Florida,06,...,Psychostimulants,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
3,12,037,00306911,0500000US12037,12037,Franklin,Franklin County,FL,Florida,06,...,Any Drug,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
4,12,037,00306911,0500000US12037,12037,Franklin,Franklin County,FL,Florida,06,...,Any Drug,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25 08:33:43.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63107,53,007,01531932,0500000US53007,53007,Chelan,Chelan County,WA,Washington,06,...,Psychostimulants,23,392370.0,5.86,3.91,8.8,6.56,4.05,10.14,2023-07-25 08:33:43.039
63108,53,007,01531932,0500000US53007,53007,Chelan,Chelan County,WA,Washington,06,...,Psychostimulants,29,395200.0,7.34,5.11,10.54,7.92,5.17,11.7,2023-07-25 08:33:43.039
63109,53,007,01531932,0500000US53007,53007,Chelan,Chelan County,WA,Washington,06,...,Synthetic Opioids,11,388620.0,2.83,1.58,5.07,3.25,1.59,6.02,2023-07-25 08:33:43.039
63110,53,007,01531932,0500000US53007,53007,Chelan,Chelan County,WA,Washington,06,...,Synthetic Opioids,13,392370.0,3.31,1.94,5.67,4.21,2.22,7.31,2023-07-25 08:33:43.039
63111,53,007,01531932,0500000US53007,53007,Chelan,Chelan County,WA,Washington,06,...,Synthetic Opioids,31,395200.0,7.84,5.53,11.13,9.88,6.66,14.17,2023-07-25 08:33:43.039

In [16]:
wa_geo_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 63112 entries, 0 to 63111
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   STATEFP              63112 non-null  object
 1   COUNTYFP             63112 non-null  object
 2   COUNTYNS             63112 non-null  object
 3   AFFGEOID             63112 non-null  object
 4   GEOID                63112 non-null  object
 5   NAME                 63112 non-null  object
 6   NAMELSAD             63112 non-null  object
 7   STUSPS               63112 non-null  object
 8   STATE_NAME           63112 non-null  object
 9   LSAD                 63112 non-null  object
 10  ALAND                63112 non-null  int64
 11  AWATER               63112 non-null  int64
 12  geometry             63112 non-null  geometry
 13  Year                 63112 non-null  float64
 14  Time Aggregation     63112 non-null  object
 15  Location             63112 non-null  object
 16  Geography            63112 non-null  object
 17  Drug Category        63112 non-null  object
 18  Death Count          63112 non-null  object
 19  Population           20580 non-null  float64
 20  Crude Death Rate     20580 non-null  object
 21  Crude Lower CI       20580 non-null  object
 22  Crude Upper CI       20580 non-null  object
 23  Adjusted Death Rate  15956 non-null  object
 24  Adjusted Lower CI    15956 non-null  object
 25  Adjusted Upper CI    15956 non-null  object
 26  Date-Time Stamp      63112 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), geometry(1), int64(2), object(21)
memory usage: 13.0+ MB

In [17]:
def drug_overdose_change(data, start=2015.0, end=2023.0):
  wa_data = data[data['STATE_NAME'] == 'Washington'].copy()
  drug = wa_data['Drug Category'] == 'Any Drug'
  county = wa_data['Geography'] == 'County'
  year = (wa_data['Year'] >= start) & (wa_data['Year'] <= end)
  time = (wa_data['Time Aggregation'] == '1 year rolling counts')
  remove_star = wa_data['Death Count'] != '*'
  county_data = wa_data[drug & county & time & year & remove_star].copy()
  county_data['Death Count'] = county_data['Death Count'].astype('int')
  county_data = county_data.dissolve(by='Year', aggfunc='sum').reset_index()
  fig = px.line(county_data, x="Year", y="Death Count",
                title=f"Drug Overdose Deaths in WA between {int(start)} and {int(end)}", markers=True)
  fig.update_layout(title_x=0.5, title_y=0.95,  font=dict(size=20))
  fig.update_traces(line=dict(width=4), marker=dict(size=10))

  fig.show()

In [18]:
ans1 = drug_overdose_change(wa_geo_data)
ans1

c:\Users\brand\anaconda3\envs\cse163\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

TypeError: datetime64 type does not support sum operations